
:root {
  --primary: #0f6b45; /* Warna utama */
  --bg: #F9F9F9; /* Warna latar belakang */
  --text: #202124; /* Warna teks utama */
  --accent: #34A853; /* Warna aksen */
  --secondary: #2D2D2D; /* Warna teks sekunder */
  --card-bg: #FFFFFF; /* Warna latar kartu */
  --section-padding: 100px;

  --dark-jungle-green: hsl(188, 63%, 7%);
  --prussian-blue: hsl(200, 69%, 14%);
  --raisin-black-1: hsl(227, 29%, 13%);
  --raisin-black-2: hsl(229, 17%, 19%);
  --yellow-green: hsl(89, 72%, 45%);
  --orange-soda: hsl(9, 100%, 62%);
  --cultured-1: hsl(0, 0%, 93%);
  --cultured-2: hsl(192, 24%, 96%);
  --misty-rose: hsl(7, 56%, 91%);
  --alice-blue: hsl(210, 100%, 97%);
  --seashell: hsl(8, 100%, 97%);
  --cadet: hsl(200, 15%, 43%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --opal: hsl(180, 20%, 62%);

  /**
   * typography
   */

  --ff-nunito-sans: "Nunito Sans", sans-serif;
  --ff-poppins: "Poppins", sans-serif;

  --fs-1: 1.875rem;
  --fs-2: 1.5rem;
  --fs-3: 1.375rem;
  --fs-4: 1.125rem;
  --fs-5: 0.875rem;
  --fs-6: 0.813rem;
  --fs-7: 0.75rem;

  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;

  /**
   * transition
   */

  --transition: 0.25s ease;

  /**
   * spacing
   */

  --section-padding: 100px;

  /**
   * shadow
   */

  --shadow-1: 0 5px 20px 0 hsla(219, 56%, 21%, 0.1);
  --shadow-2: 0 16px 32px hsla(188, 63%, 7%, 0.1);

}


 

  button {
    border: none;
    background: none;
    font: inherit;
    text-align: left;
    cursor: pointer;
  }



address {
  font-style: normal;
}

::-webkit-scrollbar {
  width: 10px; /* Lebar scrollbar */
  height: 8px; /* Tinggi scrollbar horizontal jika ada */
}

::-webkit-scrollbar-track {
  background: #9cbef1; /* Ubah ini ke warna background Anda */
  border-radius: 10px; /* Membuat track melengkung */
 
}

::-webkit-scrollbar-thumb {
  background: #a4c4dc; /* Ubah ini ke warna thumb Anda */
  border-radius: 10px; /* Membuat thumb melengkung */
  background-color: rgb(26, 87, 161);
}

.container { padding-inline :15px; } /* Ini untuk mengatur lebar container kiri kanannnya karna itu inline*/

.w-100 { width: 100%; }


.has-scrollbar {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  overflow-x: auto;
  margin-inline: -15px;
  padding-inline: 15px;
  scroll-padding-left: 15px;
  padding-bottom: 60px;
  scroll-snap-type: inline mandatory;
  
  

}
.has-scrollbar > li {
  scroll-snap-align: start;
  min-width: 100%;

  

}

.has-scrollbar::-webkit-scrollbar-track {
  background: var(--cultured-2);
  outline: 2px solid var(--cadet);
  border-radius: 10px;

  
}

.has-scrollbar::-webkit-scrollbar-thumb {
  background: var(--cadet);
  border: 1px solid var(--cultured-2);

  border-radius: 10px;

}

.has-scrollbar::-webkit-scrollbar-button { width: 15%; 
}


.container { padding-inline: 15px; }

.section-title {
  color: rgba(255, 255, 255, 0.881);

  font-size: 30px;
  text-align: center;
  margin-bottom: 10px;
}

.section-title .span {
  display: inline-block;
  color: var(--color);
}

.section-subtitle1 { 
  font-size: var(--fs-5);
  text-transform: uppercase;
  font-weight: var(--fw-500);
  letter-spacing: 1px;
  text-align: center;
  margin-block-end: 15px;
  margin-bottom:70px;
  margin-top: 0px;
}

.section-subtitle {
  font-size: var(--fs-5);
  text-transform: uppercase;
  font-weight: var(--fw-500);
  letter-spacing: 1px;
  text-align: center;
  margin-block-end: 15px;
  margin-bottom: px;

}



 




.section-text {
  font-size: var(--fs-5);
  text-align: center;
  margin-block: 15px 25px;
}

.grid-list1 {
  display: grid;
  gap: 30px;
  margin-bottom: 30px;
}

.category-card { background-color: hsla(var(--color), 0.1); }

:is(.course, .blog) .section-title { margin-block-end: 40px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;


}

body {
  font-family: 'Poppins', sans-serif;
 
  
 
 
  color: #7b7b7b; /* Warna teks default */
  overflow-x: hidden;

}
/* Navbar dengan hijau gelap modern */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  margin: 0;
  background: linear-gradient(to right, #0A4C9C, #1D7AD4);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  border: 1px solid rgba(40, 90, 60, 0.5); /* Border hijau gelap transparan */
  border-radius-top: 100px; /* Pastikan hanya sudut atas yang melengkung */
}

.navbar-logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: 'Arial', sans-serif;
  transition: color 0.3s ease;
}

.navbar-logo img {
  max-height: 40px; /* Atur tinggi maksimum logo */
 
  transition: transform 0.3s ease;
}

.navbar .navbar-nav a {
  display: inline-block;
  color: #ffffff; /* Warna teks putih */
  font-size: 1.3rem;
  margin: 0 1rem;
  padding: 0.5rem;
}

.navbar .navbar-nav a:hover {
  color: #F2B705;
}

.navbar .navbar-nav a::after {
  content: '';
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid rgb(100, 160, 120); /* Border hijau lembut */
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(1);
}

.navbar .navbar-extra a {
  color: #ffffff; /* Warna teks putih */
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: #F2B705;
}

#hamburger-menu {
  display: none;
}

.navbar .search-form {
  position: absolute;
  top: 100%;
  right: 7%;
  background-color: #ffffff; /* Background putih */
  width: 50rem;
  height: 5rem;
  display: flex;
  align-items: center;
  transform: scaleY(0);
  transform-origin: top;
  transition: 0.3s;
}

  .navbar .search-form.active {
    transform: scaleY(1);
  }
  
  .navbar .search-form input {
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color: var(--bg);
    padding: 1rem;
  }
  
  .navbar .search-form label {
    cursor: pointer;
    font-size: 2rem;
    margin-right: 1.5rem;
    color: var(--bg);
  }
  
  /* Shopping Cart */
  .shopping-cart {
    position: absolute;
    top: 100%;
    right: -100%;
    height: 100vh;
    width: 35rem;
    padding: 0 1.5rem;
    background-color: #fff;
    color: var(--bg);
    transition: 0.3s;
  }
  
  .shopping-cart.active {
    right: 0;
  }
  
  .shopping-cart .cart-item {
    margin: 2rem 0;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding-bottom: 1rem;
    border-bottom: 1px dashed #666;
    position: relative;
  }
  
  .shopping-cart img {
    height: 6rem;
    border-radius: 50%;
  }
  
  .shopping-cart h3 {
    font-size: 1.6rem;
    padding-bottom: 0.5rem;
  }
  
  .shopping-cart .item-price {
    font-size: 1.2rem;
  }
  
  .shopping-cart .remove-item {
    position: absolute;
    right: 1rem;
    cursor: pointer;
  }
  
  .shopping-cart .remove-item:hover {
    color: var(--primary);
  }
  
  /* Hero Section */
  .hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url('asset/new\ bg\ heroo2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--primary);
 
    background-position: center;
    position: relative;
  }
  
  /* .hero::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 30%;
    bottom: 0;
    background: linear-gradient(0deg, rgba(1, 1, 3, 1) 8%, rgba(255, 255, 255, 0) 50%);
  } */
  
  .hero .mask-container {
    position: absolute; /* background: salmon; */
    inset: 0;
    -webkit-mask-image: url('asset/hero\ baru.png');
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: left;
  }
  
  .hero .content {
    padding: 1.4rem 7%;
    /* max-width: 60rem; */
    width: 100%;
    text-align: center;
    position: fixed;
    color : #fff;
    
    top: 130px;
  }
  
  .hero .content h1 {
    font-size: 4rem;
    color: #f4f0f0;
    text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
    line-height: 1.2;
  
  }
  
  .hero .content h1 span {
    background: linear-gradient(135deg, #FFD700, #FFB700, #FFCA28); /* Gradasi emas cerah yang elegan */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; /* Transparansi untuk efek gradien */
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2); /* Memberikan bayangan halus untuk kedalaman */
  }
  
  .hero .content p {
    font-size: 1.6rem;
    margin-top: 1rem;
    line-height: 1.4;
    color: #ffffff;
    font-weight: 1000;
    text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
    mix-blend-mode: difference;

  }
  
 

  .hero .content .cta:hover {
    background-color: var(--text);
    color: var(--bg);
  }

  /* cart menu */

  
  
  /* About Section */
  .about,
  .menu,
  .products,
  .contact {
    padding: 8rem 7% 1.4rem;


  }


  
  .about h2,
  .menu h2,
  .products h2,

  .contact h2 {
    text-align: center;
    font-size: 2.6rem;
    margin-bottom: 3rem;
    font-style: 'Georgia', serif;
  }
  
  .about h2 span,
  .menu h2 span,
  .products h2 span,
  .contact h2 span {
    color: rgb(157, 181, 243);
  }
  .about {
    padding-block: var(--section-padding);
    background-color:#A0CFE9;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
  }
  
  .about-banner {
    position: relative;
    margin-bottom: 40px;
    overflow: hidden;
    border-radius: 10px;
  }
  
  .about-banner > img {
    max-width: max-content;
    width: 100%;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
  }
  
  .about-banner > img:hover {
    transform: scale(1.05);
  }
  
  .about-banner .abs-img {
    position: absolute;
    bottom: 100px;
    left: 15px;
    width: 50%;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 128, 0, 0.2);
  }
  
  .about .section-subtitle {
    margin-inline: 0;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 10px;
    background: white;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; /* Transparansi untuk efek gradien */
    text-align: center; /* Menempatkan subtitle di tengah */
}

  
  .about .section-title {
    --text-align: left;
    --margin-bottom: 20px;
    font-size: var(--fs-2);
    font-weight: var(--fw-700);
    color:#138ad3
  }
  
  .about-text {
    color:#ffffff;
    font-size: var(--fs-5);
    line-height: 1.8;
    margin-bottom: 30px;
  }
  
  .about-list {
    display: flex;
    flex-wrap: wrap; /* Membungkus elemen jika terlalu besar */
    gap: 10px; /* Jarak antar elemen */
    justify-content: space-evenly; /* Elemen sejajar dengan jarak merata */
    align-items: center; /* Elemen sejajar secara vertikal */
  }
  
  .about-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
    transition: transform 0.2s ease-in-out;
  }
  
  .about-item:hover {
    transform: translateX(10px);
  }
  
 
 
.about-item-icon {
    background: linear-gradient(135deg, #FFD700, #FFC107); /* Gradasi emas-kuning */
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    box-shadow: 0 4px 10px rgba(255, 215, 0, 0.5); /* Glow efek */
}

  
  .about-item-icon ion-icon {
    color: #fff;
    font-size: 20px;
  }
  
  .about-item-text {
    color: #ffffff ;
    font-size: var(--fs-5);
    font-weight: var(--fw-500);
  }
  
  .about .callout {
    background: #e3f2fd;
    color: #1976d2;
    font-size: var(--fs-5);
    font-weight: var(--fw-500);
    line-height: 1.8;
    padding: 20px 25px;
    border-left: 4px solid #1565c0;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
  }
  
  .about .btn {
    background: linear-gradient(135deg, #FFC107, #FF9800); /* Gradasi kuning-oranye */
    color: #fff;
    font-size: var(--fs-5);
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 25px;
    border-radius: 25px;
    transition: background 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.about .btn:hover {
    background: linear-gradient(135deg, #FF9800, #FFC107);
    box-shadow: 0 8px 15px rgba(255, 193, 7, 0.7); /* Efek cahaya saat hover */
}
  
  
  

  
/* Mentor Section */
.mentor-section {
  padding: 80px 0;
  background-color: #8fdbf5;
  background-image: url(http://www.transparenttextures.com/patterns/arches.png);
  position: relative;
  overflow: hidden;
}

.mentor-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}

.mentor-subtitle {
  font-size: 1.5rem;
  color: #6c757d;
  margin-bottom: 10px;
}

.mentor-title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 50px;
  color: #333;
}

/* Mentor List */
.mentor-list {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.mentor-item {
  display: flex;
  align-items: center;
  gap: 30px;
  transition: transform 0.3s ease;
  position: relative;
}

.mentor-item:hover {
  transform: scale(1.02);
}

.mentor-left {
  flex-direction: row;
}

.mentor-right {
  flex-direction: row-reverse;
}

.mentor-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.mentor-item:hover .mentor-image {
  transform: rotate(5deg) scale(1.1);
}

.mentor-info {
  max-width: 600px;
  text-align: left;
}

.mentor-name {
  font-size: 1.8rem;
  font-weight: bold;
  color: #333;
}

.mentor-job {
  font-size: 1.2rem;
  color: #0e4076;
  margin: 5px 0;
}

.mentor-description {
  font-size: 1rem;
  color: #555;
  line-height: 1.6;
}

/* Background Decorations */
.mentor-section::before,
.mentor-section::after {
  content: "";
  position: absolute;
  width: 300px;
  height: 300px;
  background: rgba(0, 123, 255, 0.1);
  border-radius: 50%;
  z-index: 0;
}

.mentor-section::before {
  top: -100px;
  left: -50px;
}

.mentor-section::after {
  bottom: -100px;
  right: -50px;
}

/* stats */

.stats {
  background-color: #ebf1f5;
background-image: url("https://www.transparenttextures.com/patterns/corrugation.png");
  padding: 4rem 2rem;
  text-align: center;
  color: #333;
}

.stats h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

.stats span {
  color: #2e5bcc;
  font-style: italic;
}

.stats p {
  font-size: 1.2rem;
  margin-bottom: 3rem;
}

.stats-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  
}

.stat-item {
  background: #f9f9f9;
  padding: 2rem;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.stat-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.stat-icon {
  font-size: 3rem;
  color: #7bbbf3;
  margin-bottom: 1rem;
}

.stat-info h3 {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  margin: 0.5rem 0;
}

.stat-info p {
  font-size: 1rem;
  color: #777;
}

@media (max-width: 768px) {
  .stats-container {
    flex-direction: row; /* Elemen akan ditampilkan vertikal */
    align-items: center;   /* Pusatkan elemen secara horizontal */
  }
}


@media (max-width: 768px) {
  .stats-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; /* Elemen akan ditampilkan vertikal */
    align-items: center;   /* Pusatkan elemen secara horizontal */
    gap: 1.5rem;           /* Kurangi jarak antar elemen */
  }

  .stats h2 {
    font-size: 2rem;       /* Perkecil ukuran font untuk heading */
  }

  .stats p {
    font-size: 0.7rem;       /* Perkecil ukuran font untuk paragraf */
  }

  .stat-item {
    width: 100px;          /* Kurangi ukuran lingkaran */
    height: 100px;
    padding: 1.5rem;       /* Sesuaikan padding */

  }

  .stat-icon {
    font-size: 2.5rem;     /* Perkecil ukuran ikon */
  }

  .stat-info h3 {
    font-size: 1rem;     /* Perkecil ukuran judul */
  }

  .stat-info p {
    font-size: 0.9rem;     /* Perkecil ukuran paragraf dalam stat */
  }
}

@media (max-width: 480px) {
  .stats-container {
    gap: 1rem;             /* Kurangi lagi jarak antar elemen */
    flex-direction: row; /* Elemen akan ditampilkan vertikal */
    align-items: center;   /* Pusatkan elemen secara horizontal */
  }

  .stat-item {
    width: 100px;          /* Kurangi lagi ukuran lingkaran untuk ponsel */
    height: 100px;
    padding: 1rem;
  }

  .stat-icon {
    font-size: 1.2rem;       /* Sesuaikan ukuran ikon */
  }

  .stat-info h3 {
    font-size: 1.2rem;     /* Ukuran heading lebih kecil */
  }

  .stat-info p {
    font-size: 0.8rem;     /* Ukuran paragraf lebih kecil */
  }
}


  /* Menu Section */
 
  .blog-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* Jarak antar-card */
    padding: 0;
    list-style: none;
    overflow-x: auto; /* Menambahkan scroll horizontal */
    scrollbar-width: thin; /* Opsional, untuk memperkecil scroll */
  }
  
  /* Mengatur tampilan scrollbar secara khusus untuk browser berbasis WebKit */
.blog-list::-webkit-scrollbar-thumb {
  background-color: #6cabef; /* Warna tombol scrollbar */
  border-radius: 10px;
}

.blog-list::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Warna track scrollbar */
  height: 1000px;
}

  
  @media screen and (max-width: 768px) {
    .blog-list {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row; /* Mengatur elemen menjadi vertikal pada layar kecil */
   

    }

    .blog-card {
      display: block;
      width: 300px; /* Penuhi lebar container */
      height: 100%;
      margin: 0 auto; /* Pusatkan jika ada margin horizontal */
    }
    .blog-card .card-banner {
      overflow: hidden;
      aspect-ratio: 1/1;
      background-color: #e9ecef;
  
    }

    .blog-card .card-banner img {
      width: 100px;
      
      height: auto;
      object-fit: cover;
      transition: transform 0.5s ease;
    }
    
  }
  
  
  .blog-card {
    display: block;
    width: 300px; /* Penuhi lebar container */
    height: 300px;
    margin: 0 auto; /* Pusatkan jika ada margin horizontal */
  }
  
  .blog {
    padding-block: var(--section-padding);
    background-color: #ceecf2;
  }
  
  .blog-card {
    background-color: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .blog-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  }
  
  .blog-card .card-banner {
    overflow: hidden;
    aspect-ratio: 16 / 9;
    background-color: #e9ecef;

  }
  
  .blog-card .card-banner img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform 0.5s ease;
  }
  
  .blog-card:hover .card-banner img {
    transform: scale(1.1);
  }
  
  .blog-content {
    padding: 20px;
  }
  
  .blog-content .card-meta-list {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 10px;
    color: #6c757d;
    font-size: 0.875rem;
  }
  
  .blog-content .card-meta-list ion-icon {
    color: #007bff;
  }
  
  .blog-title {
    font-size: 1.125rem;
    color: #212529;
    font-weight: 600;
    margin: 10px 0;
  }
  
  .blog-title:hover {
    color: #007bff;
  }
  
  .blog-content-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #e9ecef;
    padding-top: 10px;
    margin-top: 10px;
  }
  
  .blog-content-bottom .publish-date {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 0.875rem;
    color: #6c757d;
  }
  
  .blog-content-bottom .read-more-btn {
    font-size: 0.875rem;
    color: #007bff;
    font-weight: 600;
    text-transform: uppercase;
    transition: color 0.3s ease;
  }
  
  .blog-content-bottom .read-more-btn:hover {
    color: #0056b3;
  }

  @media screen and (max-width: 768px) {
    .blog-list {
      flex-direction: column; /* Mengatur elemen menjadi vertikal */
     gap: 50px;
    }
  
    .blog-card {
      width: 100%; /* Kartu memenuhi lebar penuh */
      height: 100%; /* Tinggi kartu 100% */

    }
  }
  
  
  
/* Produk Section */
.products {
  

  
  text-align: center;
  padding: 2rem;
  background-color: #1e8da3;
  background-image: url(http://www.transparenttextures.com/patterns/cartographer.png);
}

.products h2 {
  font-size: 2.5rem;
  color:rgb(255, 255, 255);
 
  margin-bottom: 0.5rem;
}

.products h2 span {
  color: #007bff;
}

.products p {
  font-size: 1.2rem;
  color: #ffffff;
  margin-bottom: 2rem;
}

.products .row {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.product-card {
  background: linear-gradient(135deg, #1196cb, #25fcf5); /* Gradasi biru tua ke biru terang */
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 300px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
  background: linear-gradient(135deg, #4e10c2, #1957e3); /* Gradasi biru lebih gelap saat hover */
}

.product-icons {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
  padding: 0.5rem;
}

.product-icons a {
  color: #d4d6d8;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

.product-icons a:hover {
  color: #007bff;
}

.product-image img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.product-content {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;

  text-align: center;
  align-items: center;
}

.product-content h3 {
  font-size: 1.5rem;
  color: #163e73; /* Biru gelap untuk teks */
  margin-bottom: 0.5rem;
}

.product-stars {
  font-size: 1.2rem;
  color: #ffc107;
  margin-bottom: 1rem;
}

.product-stars .star-full {
  color: #ffc107;
}

.product-stars i {
  margin-right: 2px;
}

.product-price {
  font-size: 1.4rem;
  font-weight: bold;
  color: #0b3b82; /* Warna biru gelap untuk harga */
  margin-top: 0.5rem;
}

.product-price span {
  text-decoration: line-through;
  color: #dc3545;
  margin-left: 0.5rem;
}



  /* property section new */

  
  .property { 
    background-color: #a2e1ed;
    background-image: url(http://www.transparenttextures.com/patterns/gplay.png);

    padding-block: var(--section-padding);
    
  
  
  }
  
    @keyframes gradient-animation {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }
    
    .property-card {
      background: #ffffff;
      border-radius: 15px;
      overflow: hidden;
      box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease, box-shadow 0.3s ease;
    }
  
  .property-card .card-banner {
    position: relative;
    aspect-ratio: 2 / 1.5;
    overflow: hidden;
  }
  
  .property-card .card-banner a { height: 100%; }
  
  .property-card .card-banner img {
    height: 100%;
    object-fit: cover;
    transition: 0.5s ease;
  }
  
  .property-card:hover .card-banner img { transform: scale(1.1); }
  
  .property-card .card-banner::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to top, hsla(0, 0%, 0%, 0.95), transparent 30%);
    pointer-events: none;
    z-index: 1;
  }
  
  .property-card .banner-actions {
    position: absolute;
    bottom: 15px;
    left: 15px;
    right: 15px;
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    gap: 15px 10px;
    z-index: 1;
  }
  
  .banner-actions-btn {
    color: var(--white);
    font-size: var(--fs-6);
    line-height: 1;
    display: flex;
    align-items: flex-end;
    gap: 4px;
  }
  
  .banner-actions-btn ion-icon { font-size: 16px; }
  
  .banner-actions-btn:first-child { margin-right: auto; }
  
  .banner-actions-btn:is(:hover, :focus) { color: var(--orange-soda); }
  
  .property-card .card-content1 {
    padding: 30px 15px 15px;
    border-bottom: 1px solid hsla(0, 0%, 0%, 0.1);
    background: linear-gradient(120deg, #d8eefe, #a7d8f9);
  }
  
  .card-price {
    color: rgb(55, 157, 55);
    font-family: var(--ff-poppins);
    font-size: var(--fs-5);
    margin-bottom: 5px;
    
  }

  #h3-cardtitle{
    color: rgb(14, 95, 115);
  }

  

  .card-price strong {
    font-size: var(--fs-4);
    font-weight: var(--fw-600);
    
  }
  .property { padding-block: var(--section-padding); }
  
  .property-card {
    border: 1px solid var(--alice-blue);
    box-shadow: var(--shadow-2);
  }
  
  .property-card .card-banner {
    position: relative;
    aspect-ratio: 2 / 1.5;
    overflow: hidden;
  }
  
  .property-card .card-banner a { height: 100%; }
  
  .property-card .card-banner img {
    height: 100%;
    object-fit: cover;
    transition: 0.5s ease;
  }
  
  .property-card:hover .card-banner img { transform: scale(1.1); }
  
  .property-card .card-banner::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to top, hsla(0, 0%, 0%, 0.95), transparent 30%);
    pointer-events: none;
    z-index: 1;
  }
  
  .property-card .banner-actions {
    position: absolute;
    bottom: 15px;
    left: 15px;
    right: 15px;
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    gap: 15px 10px;
    z-index: 1;
  }
  
  .banner-actions-btn {
    color: var(--white);
    font-size: var(--fs-6);
    line-height: 1;
    display: flex;
    align-items: flex-end;
    gap: 4px;
  }
  
  .banner-actions-btn ion-icon { font-size: 16px; }
  
  .banner-actions-btn:first-child { margin-right: auto;
   }
  
  .banner-actions-btn:is(:hover, :focus) { color: var(--orange-soda); }
  
  .property-card .card-content {
    padding: 30px 15px 15px;
    border-bottom: 1px solid hsla(0, 0%, 0%, 0.1);
  }
  
  .card-price {
    color: var(--orange-soda);
    font-family: var(--ff-poppins);
    font-size: var(--fs-5);
    margin-bottom: 5px;
    
  }
  
  .card-price strong {
    font-size: var(--fs-4);
    font-weight: var(--fw-600);
  }
  
  .property-card .card-title {
    --font-weight: var(--fw-600);
    margin-bottom: 15px;
  }
  
  .property-card .card-title > a:is(:hover, :focus) { color: purple; }
  
  .property-card .card-text {
    color: rgb(24, 149, 194);
    font-size: var(--fs-5);
    line-height: 1.8;
    margin-bottom: 25px;
  }
  
  .property-card .card-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    row-gap: 15px;
   
  }
  
  .property-card .card-item {
    padding-block: 5px;
    color: var(--cadet);
    font-size: var(--fs-5);
  }
  
  .property-card .card-item:not(:last-child) {
    padding-right: 15px;
    border-right: 1px solid hsla(0, 0%, 0%, 0.2);
    margin-right: 20px;
  }
  
  .property-card .card-item :is(strong, ion-icon) { display: inline-block; }
  
  .property-card .card-item ion-icon {
    margin-left: 2px;
    margin-bottom: -2px;
  }
  
  .property-card .card-item span { margin-top: 5px; }
  
  .card-footer {
    padding: 15px;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    background: linear-gradient(120deg, #d8eefe, #a7d8f9);
  }
  
  .card-author {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .author-avatar {
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
  }
  
  .author-name > a {
    color: rgb(12, 42, 126);
    font-family: var(--ff-poppins);
    font-size: var(--fs-5);
    font-weight: var(--fw-600);
    margin-bottom: 3px;
  }
  
  .author-name > a:is(:hover, :focus) { color: var(--orange-soda); }
  
  .author-title {
    color: var(--cadet);
    font-size: var(--fs-7);
  }
  
  .card-footer-actions {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .card-footer-actions-btn {
    background:rgb(95, 182, 245);
    color: white;
    width: 35px;
    height: 35px;
    display: grid;
    place-items: center;
    font-size: 18px;
  }
  
  .card-footer-actions-btn:is(:hover, :focus) {
    background: rgb(40, 52, 215);
    color: var(--white);
  }
/* 
  grafik */

  .swiper-wrapper2 {
    margin-top: 200px;
    margin-bottom: 10px;
  }


  .quotetesti {
    text-align: center;
    border-bottom-right-radius: 150px;
    padding: 10px;
    border-top-left-radius: 150px;
    height: 400px;
    width: 600px;
    margin: 20% auto;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #f8f8f8;
    margin-top: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Menambahkan efek bayangan pada video */
    margin-bottom: 20px;
  }
  
  .quotetesti video {
    width: 100%;
    height: 100%;
    border-radius: 150px;
    object-fit: cover; /* Agar video terisi penuh dalam kontainer */
  }
  
  /* Contact Section */
  .contact .row {
    display: flex;
    margin-top: 2rem;
    background-color:hsl(227, 48%, 46%);
  }

  .contact  {
    background-color: #f2f7f4; /* Latar belakang terang untuk keseluruhan section */
  }


  
  .contact .row .map {
    flex: 1 1 45rem;
    width: 100%;
    object-fit: cover;
  }
  
  .contact .row form {
    flex: 1 1 45rem;
    padding: 5rem 2rem;
    text-align: center;
    background-color: #438bd8;
  }
  
  .contact .row form .input-group {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    background-color: var(--bg);
    border: 1px solid #eee;
    padding-left: 2rem;
  }
  
  .contact .row form .input-group input {
    width: 100%;
    padding: 2rem;
    font-size: 1.7rem;
    background: none;
    color: #fff;
  }
  
  .contact .row form .btn {
    margin-top: 3rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.7rem;
    color: #fff;
    background-color:rgb(72, 148, 224);
    cursor: pointer;
  }
  
  .contact-text {
    padding: 2rem;
    text-align: center;
    font-size: 2rem;
    font-style: bold;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  @keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  .logos {
    overflow: hidden;
    padding: 60px 0;
    background: white;
    white-space: nowrap;
    position: relative;
  }
  
  .logos:before,
  .logos:after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
  }
  
  .logos:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
  }
  
  .logos:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
  }
  
  .logos:hover .logos-slide {
    animation-play-state: paused;
  }
  
  .logos-slide {
    display: inline-block;
    animation: 35s slide infinite linear;
  }
  
  .logos-slide img {
    height: 50px;
    margin: 0 40px;
  }


  
  /* Footer */

/* Footer Styles */
.footer {
  background: #0B7ABF;
  color: #ffffff;
  padding: 50px 20px;
  font-family: 'Arial', sans-serif;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  gap: 20px;
}

.footer-column {
  flex: 1;
  min-width: 200px;
  margin: 10px;
}

.footer-column h3 {
  font-size: 20px;
  margin-bottom: 15px;
  color: #ffffff;
  border-bottom: 3px solid #a8dadc;
  display: inline-block;
}

.footer-column p,
.footer-column ul {
  font-size: 14px;
  line-height: 1.8;
}

.footer-column ul {
  list-style: none;
  padding: 0;

}

.footer-column ul li {
  margin: 8px 0;
}

.footer-column ul li a {
  color: #d4f1f4;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-column ul li a:hover {
  color: #ffffff;
}

/* Social Icons */
.social-icons,
.contact-icons {
  display: flex;
  gap: 15px;
  margin-top: 10px;
}

.social-icons img,
.contact-icons img {
  width: 30px;
  height: 30px;
  filter: brightness(0) invert(1);
  transition: transform 0.3s ease, filter 0.3s ease;
}

.social-icons img:hover,
.contact-icons img:hover {
  transform: scale(1.2);
  filter: brightness(1.2) invert(0.7);
}

/* Tooltip Effect */
.tooltip {
  position: relative;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.tooltip:before {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 120%;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.8);
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.tooltip:hover:before {
  opacity: 1;
  transform: translateX(-50%) translateY(-10px);
}

/* Newsletter */
.newsletter-form {
  display: flex;
  gap: 3px;
  margin-top: 15px;
}

.newsletter-form input {
  flex: 1;
  padding: 10px;
  border: 2px solid #00cec9;
  border-radius: 5px;
  font-size: 14px;
  width: 100px;
}

.newsletter-form button {
  background: #00cec9;
  border: none;
  color: #ffffff;
  padding: 10px 12px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background 0.3s ease;
  
}

.newsletter-form button:hover {
  background: #007f5f;
}

/* Footer Bottom */
.footer-bottom {
  text-align: center;
  margin-top: 30px;
}

.footer-bottom p {
  font-size: 14px;
  color: #c8e3e8;
}

.footer-bottom a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.footer-bottom a:hover {
  color: #00e676;
}

/* Modal Styling */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: auto;
}

.modal-content {
  background-color: #4671b3;
  margin: 15% auto;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 600px;
}

.modal-content > .h2 {
  color: #e2e8df;
}

.modal-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.close {
  color: #e2e8df;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 25px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Product Image Container */
.product-image-container {
  flex: 1 1 45%;
  max-width: 350px;
  display: flex;
  justify-content: center;
}

.product-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

/* Product Content */
.product-content {
  flex: 1 1 45%;
  max-width: 450px;
  text-align: left;
}

.product-content h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  color: #fff;
}

.product-content p {
  font-size: 1.1rem;
  line-height: 1.6rem;
  margin-bottom: 1.5rem;
  color: #ddd;
}

.product-stars i {
  color: #f4b400;
}

.product-price {
  margin: 1.5rem 0;
  font-size: 1.2rem;
  color: #fff;
}

.price-now {
  font-weight: bold;
  color: #ff6347;
}

.price-old {
  text-decoration: line-through;
  color: #aaa;
  margin-left: 1rem;
}

/* Add to Cart Button */
.add-to-cart {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  background-color: var(--primary);
  color: #fff;
  padding: 1rem 1.6rem;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1.1rem;
  margin-top: 1rem;
  transition: background-color 0.3s;
}

.add-to-cart:hover {
  background-color: #45a049;
}


  .gallery-list {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: 15px;
    display: flex;
  }


  .section__container {
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 1rem;
  }
  
  .section__header {
    margin-bottom: 5px;
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--text-dark);
    text-align: center;
  }
  
  .section__description {
    max-width: 600px;
    margin-inline: auto;
    color: var(--text-light);
    text-align: center;
  }

  /* Styling Section */
.section-header {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.section-description {
  text-align: center;
  font-size: 1rem;
  color: #555;
  margin-bottom: 2rem;
}

.swiper-container {
  width: 100%;
  padding: 1rem;
  background-color: #CEECF2;
  background-image: url(http://www.transparenttextures.com/patterns/diagonal-noise.png);


}

.swiper-slide {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.swiper-slide:hover {
  transform: scale(1.05);
}

.client-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
}

.client-rating {
  display: flex;
  gap: 5px;
  color: #FFD700; /* Gold */
  margin-bottom: 1rem;
}

.client-rating i {
  font-size: 1.2rem;
}

.client-details {
  display: flex;
  align-items: center;
  gap: 10px;
}

.client-details img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.client-details h4 {
  font-size: 1.1rem;
  font-weight: 600;
}

.client-details h5 {
  font-size: 1rem;
  color: #888;
}



.swiper-pagination {
  text-align: center;
  margin-top: 1rem;
}

.swiper-pagination-bullet {
  background-color: #333;
  opacity: 0.5;
}

.swiper-pagination-bullet-active {
  background-color: #FFD700;
  opacity: 1;
}

/* Responsive Design */
@media (max-width: 768px) {
  .swiper-slide {
    min-width: 280px;

    .quotetesti {
      margin: auto;
      margin-inline: auto;
      width: auto;
      height: 200px;
    }
  }
}

@media (max-width: 480px) {
  .swiper-slide {
    min-width: 100%;

  }

  .property-list {
    overflow-x: auto;
  }

  /* Scrollbar untuk perangkat WebKit */
.property::-webkit-scrollbar {
  width: 8px; /* Lebar scrollbar */
  height: 8px; /* Tinggi scrollbar (untuk horizontal scroll) */
}



.property::-webkit-scrollbar-thumb {
  background-color: #007BFF; /* Warna thumb (bagian yang dapat digeser) */
  border-radius: 10px; /* Membuatnya bulat */
}

.property::-webkit-scrollbar-track {
  background-color: #D8E3E8; /* Warna latar belakang scrollbar */
  border-radius: 10px;
}


  .blog-list::-webkit-scrollbar-thumb {
    background-color: #007bff; /* Warna tombol scrollbar */
    border-radius: 10px;
  }
  
  .blog-list::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Warna track scrollbar */
    height: 1000px;
  }

  .has-scrollbar {
    gap: 25px;
    margin-inline: -25px;
    padding-inline: 25px;
    scroll-padding-left: 25px;
}

.has-scrollbar::-webkit-scrollbar-track {
  background: var(--cultured-2);
  outline: 2px solid var(--cadet);
  border-radius: 10px;
}

  .quotetesti {
    margin: auto;
    margin-inline: 10px;
    width: auto;
    height: 200px;
  }
}


  /* Media Queries */
  /* Laptop */
  @media (max-width: 1366px) {
    html {
      font-size: 75%;
    }

 
  
    .about-list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      
    }

    .chart-container {
      margin-top: 20px;
  }

    .has-scrollbar {
      gap : 25 px;
      margin-inline: -25px;
      padding-inline: 25px;
      scroll-padding: 25px;
     
    }

    .has-scrollbar > li { min-width: calc(33.33% - 16.66px); }   /* untuk membuat 3 kolom pada layar laptop */


   /* galeri */
   /* .gallery-list {
    grid-template-columns: 4;   */
    
  }


/* Style for the gallery card */

.gallery {
  background-color: #a2e1ed;
  background-image: url(http://www.transparenttextures.com/patterns/arches.png);
}



.gallery-card {
  background-color: #007bff;
  height: 430px;
  width: 240px;
  display: flex; /* Memastikan elemen diatur dengan baik */
  flex-direction: column; /* Susunan elemen secara vertikal */
  align-items: center;
  padding: 20px;
  padding-top: 50px;
  z-index: -10;
  background-size: cover;  /* Background menutupi seluruh area */
  background-position: center;  /* Background tetap di tengah */
  border-radius: 10px; /* Opsional, agar sudut lebih lembut */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Opsional, untuk efek elegan */
}


/* Media query untuk tablet */
@media  (max-width: 1024px) {
  .gallery-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    
  }

  

  .gallery-card {
    height: 400px; /* Sedikit lebih kecil untuk menyesuaikan layar */
    padding: 15px; /* Kurangi padding */
    width: auto;
    grid-template-columns: 1fr; /* Satu kolom */

  }

  .gallery-card .card-content .h3 {
    font-size: 3rem; /* Sesuaikan ukuran font */
    margin-top: 150px; /* Kurangi margin atas */
  }
}

/* Responsif untuk ponsel */
@media (max-width: 480px) {
  .gallery-card {
    height: auto; /* Tinggi penuh untuk ponsel */
    width: auto; /* Lebar penuh untuk ponsel */
    padding: 10px; /* Kurangi padding */
  }

  .gallery-card .card-content .h3 {
    font-size: 2rem; /* Sesuaikan ukuran font */
    margin-top: 100px; /* Kurangi margin atas */
  }

  .gallery-card .btn-link {
    font-size: small; /* Ukuran font lebih kecil */
    margin: 0; /* Hilangkan margin */
    padding: 0px; /* Hilangkan padding tambahan */
    padding-left: 0px;
    margin-right: 250px;
  }






  /* Pastikan pembungkusnya juga sejajar kiri */
  .gallery-card .card-content {
    text-align: left; /* Atur semua konten di sisi kiri */
  }
}


.gallery-card img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

/* Overlay on hover */
.gallery-card::after {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bistre);
  opacity: 0.5;
  z-index: -1;
  transition: var(--transition-1);
}

.gallery-card:is(:hover, :focus-within)::after {
  opacity: 0.7;
}

.gallery-card .card-content {
  display: grid;
  align-content: space-between;
  height: 100%;
}




.gallery-card .card-title {
  font-size: var(--fs-4);
  font-weight: var(--fw-bold);

  color: var(--white);
}

.gallery-card .btn-link {
  color: rgb(47, 102, 197);
  display: flex;
  align-items: center;
  font-style: italic;
  gap: 8px;
  transition: var(--transition-1);

}

.btn-link:is(:hover, :focus-visible) {
  color: black;
}

.card-content .h3 {
  text-align: center;
  padding-left: 10px;
  align-items: center;
  margin-left:auto;
  margin-right: auto;
  padding-right: 10px;
  justify-items: center;
  margin-top: 130px;
  font-size: large;
  font-weight: bolder;
  color: var(--white);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); /* Bayangan hitam */
}


#galleryh2 {
  margin-inline: 0;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 10px;
  background: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Tambahkan bayangan */
  -webkit-background-clip: text;

  text-align: center; /* Menempatkan subtitle di tengah */
}

.container-grafik {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
  
}

.chart-container {
  flex: 1;
  position: relative;
  height: 300px;
  width: 50%; /* Grafik mengambil 50% lebar layar di desktop */
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 20px;
  overflow: hidden;
}

.canvas {
  height: auto;
  width: 100%;
}

    /* mentor */

    .grid-list1 {
      display: grid;
      grid-template-columns: repeat(3, 1fr); /* 3 kolom untuk laptop */
      gap: 20px; /* Jarak antar kartu */
      justify-items: center; /* Rata tengah */
    }
  
    .mentor-card {
      max-width: 350px;
  }
  
  /* Tablet */
  @media (max-width: 768px) {
    html {
      font-size: 62.5%;
    }
  
    #hamburger-menu {
      display: inline-block;
    }

    .gallery-list {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 15px;

    }
  
    .section-title {
      font-size: 3rem;
    }
  
    .navbar .navbar-nav {
      position: absolute;
      
      top: 100%;
      right: -100%;
      background-color: #fff;
      width: 30rem;
      height: 100vh;
      transition: 0.3s;
    
    }
  
    .navbar .navbar-nav.active {
      right: 0;
    }
  
    .navbar .navbar-nav a {
      color: rgb(255, 215, 0); /* Elegant Gold */

      display: block;
      margin: 1.5rem;
      padding: 0.5rem;
      font-size: 2rem;
    }
  
    .navbar .navbar-nav a::after {
      transform-origin: 0 0;
    }
  
    .navbar .navbar-nav a:hover::after {
      transform: scaleX(0.2);
    }
  
    .navbar .search-form {
      width: 90%;
      right: 2rem;
    }
  
    .about .row {
      flex-wrap: wrap;
    }
  
    .about .row .about-img img {
      height: 24rem;
      object-fit: cover;
      object-position: center;
      border-radius: 5%;
    }
  
    .about .row .content {
      padding: 0;
    }
  
    .about .row .content h3 {
      margin-top: 1rem;
      font-size: 2rem;
    }
  
    .about .row .content p {
      font-size: 1.6rem;
    }



    .container-grafik {
      flex-direction: column; /* Elemen diatur vertikal */
      align-items: center; /* Elemen dipusatkan */
      margin-bottom: 20px;
      margin-top: 20px;
      width: 300px;
  }

  .chart-container {
    display: flex;
    /* Grafik mengambil seluruh lebar layar */
       /* Beri jarak dari elemen di atas */
      align-items: center;
      
      margin-left: 20px;
      margin-right: 20px;
      border-radius: 20px;
      overflow: hidden; 
  }

  .canvas {
   max-width: 100%;  /* Grafik mengambil seluruh lebar layar */
    align-items:center;
    display: row;
  }



    * GALLERY
    */
 
   .gallery-list {
     display: grid;
     grid-template-columns: 1fr 1fr;
   }


   
  
    .mentor-card {
      max-width: 280px; /* Lebar kartu lebih kecil */
      margin-inline: auto; /* Center di tengah */
    }
  
    .mentor-card .card-content {
      padding: 15px; /* Sesuaikan padding */
    }



  .text-content {
      text-align: center; /* Center-align text untuk tablet */
  }

  .text-content h1 {
      font-size: 24px; /* Sesuaikan ukuran judul */
  }

  .text-content p {
      font-size: 14px; /* Sesuaikan ukuran teks */
      margin-top: 10px;
  }
   
    .menu p {
      font-size: 1.2rem;
    }
  
    .contact .row {
      flex-wrap: wrap;
    }
  
    .contact .row .map {
      height: 30rem;
    }
  
    .contact .row form {
      padding-top: 0;
    }
  
    .modal-content {
      flex-wrap: wrap;
    }

    .newsletter-form button {
      padding: 5px 9px;
    }

    .property .container {
      max-width: unset;
      padding-inline: 25px;
      margin-inline: auto;
    }

    

    .has-scrollbar {
      gap: 25px;
      margin-inline: -25px;
      padding-inline: 25px;
      scroll-padding-left: 25px;
    }
  
    .has-scrollbar > li { min-width: calc(50% - 12.5px); }
  
  
  }
  
  /* Mobile Phone */
  @media (max-width: 450px) {
    html {
      font-size: 55%;
    }
    body {
      margin: 0;
    }
  .blog-card .h3 {
    font-size: 1rem;
  }

    .image-container {
      width: 100%;
    }

    .grid-list {
      grid-template-columns: 1fr;
    }
  
    .category-card .card-icon {
      width: 50px;
      height: 50px;
    }
  
    .category-card .card-text {
      font-size: 1rem;
    }
  
    .category-card .card-badge {
      font-size: 1rem;
    }
    .h3 .card-title{
      text-align: center;
      
    }

    .section-title {
      font-size: 20px;  
      margin-bottom: 50px;
    }

    #galleryh2 {
      font-size: 20px;  
      margin-bottom: 30px;
    }

    .about-list {
      display: grid;
      grid-template-columns: 1fr;
      align-items: center;

    }

     .container {
        flex-direction: column; /* Elemen tetap vertikal */
        align-items: center;
    }

    .chart-container {
        width: 100%; /* Grafik tetap memenuhi lebar layar */
        margin-top: 10px; /* Jarak antar elemen lebih kecil */
    }

    canvas {
        max-width: 100%; /* Grafik sedikit lebih kecil untuk layar ponsel */
        margin: 0 auto; /* Grafik dipusatkan */
        margin-bottom: 40px;
    }

  .text-content h1 {
      font-size: 18px; /* Ukuran font judul lebih kecil */
      margin-bottom: 10px;
  }

  .text-content p {
      font-size: 12px; /* Sesuaikan ukuran teks */
      line-height: 1.4;
  }

    #h3-cardtitle {
      text-align: center;
      font-size: 1rem;
    }


    .container {
      max-width: 520px;
      width: 100%;
      margin-inline: auto;
    }

    .grid-list1 {
      grid-template-columns: 1fr; /* 1 kolom untuk ponsel */
      gap: 15px; /* Jarak antar kartu lebih kecil */
    }
  
    .mentor-card {
      max-width: 100%; /* Lebar penuh pada ponsel */
      margin-inline: auto;
    }
  
    .mentor-card .card-content {
      padding: 10px; /* Padding lebih kecil */
    }
  
    .mentor-card .card-btn {
      top: -30px; /* Atur posisi tombol */
      right: 20px;
    }
  
    .h3 {
      font-size: 1.6rem; /* Ukuran font untuk judul mentor */
      text-align: center;
    }
  
    .card-text {
      font-size: 1.4rem; /* Deskripsi lebih kecil */
    }

    .gallery-list {
      grid-template-columns: 1fr; /* 1 column for mobile phones */
    }
  
    .gallery-card {
      height: 300px;  /* Adjust height for smaller screens */
      padding: 15px;  /* Reduce padding */
    }
  
    .gallery-card .card-content {
      padding: 10px;  /* Reduce content padding for mobile */
    }
  }

  

 